body {
    background: #051f39
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background-color: #051f39;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #E69D37
}

.profile-button:focus {
    background: #E69D37;
    box-shadow: none
}

.profile-button:active {
    background: #E69D37;
    box-shadow: none
}

.back:hover {
    color: #E69D37;
    cursor: pointer
}

.labels {
    font-size: 11px
}
